<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./tests/bootstrap.php"
>

    <logging>
          <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    
    <testsuites>
        <testsuite name="PHP StatHat Bindings Test Suite">
            <directory>./tests/PradoDigital/Tests/StatHat</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/PradoDigital/StatHat</directory>
        </whitelist>
    </filter>
</phpunit>
